<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Antibody Form</title>
</head>
<body>

 <div class="container">

     <form method="post">
          {{ form.as_table }}
         {% csrf_token %}

         <input class="submit" type="submit" value="submit form">
     </form>


    <h1>Hello There!!!</h1>
    <p>Please, submit this form:</p>
  </div>

{# <form action ="" method="POST">#}

{##}
{#        {{ form.non_field_errors }}#}
{#        <p class="instruct"> Fill in all mandatory fields click Register button</p>#}
{#        <table class="input_table">#}
{#            <tr>#}
{#                <th>{{ form.ab_instance_id.label }}</th>#}
{#                <th>{{ form.sent_from.label}}</th>#}
{##}
{#            </tr>#}
{#            <tr>#}
{#                <td>#}
{#                    {{ form.sample_barcode.errors }}#}
{#                    {{ form.sample_barcode }}#}
{#                </td>#}
{#                <td>#}
{#                    {{ form.sent_from.errors }}#}
{#                    {{ form.sent_from }}#}
{#                </td>#}
{#                <td>#}
{#                    {{ form.patient.errors }}#}
{#                    {{ form.patient }}#}
{#                </td>#}
{#                <td>#}
{#                    {{ form.sample_type.errors }}#}
{#                    {{ form.sample_type }}#}
{#                </td>#}
{#                <td>#}
{#                    {{ form.sample_name.errors }}#}
{#                    {{ form.sample_name }}#}
{#                </td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>{{ form.sample_timepoint.label }}</th>#}
{#                <th>{{ form.date_sample_collected.label }}</th>#}
{#                <th>{{ form.biopsy_location.label }}</th>#}
{#                <th>{{ form.sample_comments.label }}</th>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>#}
{#                    {{ form.sample_timepoint.errors }}#}
{#                    {{ form.sample_timepoint }}#}
{#                </td>#}
{#                <td>#}
{#                    {{ form.date_sample_collected.errors }}#}
{#                    {{ form.date_sample_collected }}#}
{#                </td>#}
{#                <td>#}
{#                    {{ form.biopsy_location.errors }}#}
{#                    {{ form.biopsy_location }}#}
{#                </td>#}
{#                <td>#}
{#                    {{ form.sample_comments.errors }}#}
{#                    {{ form.sample_comments }}#}
{#                </td>#}
{#            </tr>#}
{#        </table>#}
{#        <input class="submit" type="submit" value="register">#}
{##}
{#    </form>#}
</body>
</html>