{% extends 'base.html' %}
{% block title %}
Antibody Form
{% endblock %}
{% block content %}

{% comment %} <div class="container">

     <form method="post">
          {{ form.non_field_errors }}
          <p class = "form_instruction">Please, submit this form:</p>
          {% csrf_token %}
         <table class="input_table">
             <tr>
                <th>{{ form.name.label }}</th>
                 <th>{{ form.target_antigen.label }}</th>
                 <th>{{ form.host_species.label }}</th>
             </tr>
             <tr>
                 <td>
                    {{ form.name.errors }}
                    {{ form.name }}
                 </td>
                <td>
                    {{ form.target_antigen.errors }}
                     {{ form.target_antigen }}
                </td>
                 <td>
                    {{ form.host_species.errors }}
                     {{ form.host_species }}
                </td>

             </tr>

             <tr>
                 <th>{{ form.ab_type.label }}</th>
                 <th>{{ form.isotype.label }}</th>
                 <th>{{ form.clone.label }}</th>
                  <th>{{ form.fluorophore.label }}</th>
             </tr>
              <tr>
                 <td>
                    {{ form.ab_type.errors }}
                    {{ form.ab_type }}
                 </td>
                <td>
                    {{ form.isotype.errors }}
                     {{ form.isotype }}
                </td>
                 <td>
                    {{ form.clone.errors }}
                     {{ form.clone }}
                </td>
                  <td>
                      {{ form.fluorophore.errors }}
                     {{ form.fluorophore }}
                  </td>

             </tr>

             <tr>
                 <th>{{ form.metal_tag.label }}</th>
                 <th>{{ form.other_tag.label }}</th>
                 <th>{{ form.supplier.label }}</th>
             </tr>
             <tr>
                 <td>
                    {{ form.metal_tag.errors }}
                    {{ form.metal_tag }}
                 </td>
                <td>
                    {{ form.other_tag.errors }}
                     {{ form.other_tag }}
                </td>
                 <td>
                    {{ form.supplier.errors }}
                     {{ form.supplier }}
                </td>

             </tr>

             <tr>
                 <th>{{ form.supplier.label }}</th>
                 <th>{{ form.catalogue_num.label }}</th>
             </tr>
             <tr>
                 <td>
                    {{ form.supplier.errors }}
                    {{ form.supplier }}
                 </td>
                <td>
                    {{ form.catalogue_num.errors }}
                     {{ form.catalogue_num }}
                </td>

             </tr>

         </table>

         <input class="submit" type="submit" value="submit form">
     </form>


  </div>{% endcomment %}

 <div id = "return">
    <a href = "{% url 'welcome' %}" class = "return_homepage">Click to Return to Home page</a>
</div>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

<div id="return">
    <a href="{% url 'add_fluorophore' %}" class="return_homepage">Add New Fluorophore</a>
</div>
<div id="check_metal_tag">
    <a href="{% url 'add_metal_tag' %}" class="return_homepage">Add New Metal Tag</a>
</div>
    <div id="check_other_tag">
    <a href="{% url 'add_other_tag' %}" class="return_homepage">Add New Other Tag</a>
</div>


{% endblock %}