{% extends 'base.html' %}
{% block title %}
Update Reactivity
{% endblock %}

{% block content %}

<h2>Update Reactivity</h2>

{#{% if formset  %}#}
<form id="form-container" method="post">
  {% csrf_token %}
{% for reactivity in formset %}

    <div class="reactivity-form">
        {{ reactivity.as_table }}
        <a id = "delete-form" class="button" href="{% url 'delete_reactivity' reactivity.ab_species_reactivity_id.value %}" >Delete</a>
    </div>
{% endfor %}
<button id="add-form" type="button">Add reactivity</button>
<button id="update-form" type="submit">Update</button>

<input type="hidden" name="form-TOTAL_FORMS" value="{{ formset.total_form_count }}" id="id_form-TOTAL_FORMS">
<input type="hidden" name="form-INITIAL_FORMS" value="{{ formset.initial_form_count }}" id="id_form-INITIAL_FORMS">
<input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS">
<input type="hidden" name="form-MAX_NUM_FORMS" value="1000" id="id_form-MAX_NUM_FORMS">

</form>


{% comment %}<p>No antibody selected.</p>
{% endif %}{% endcomment %}

<script>
    let reactivityForm = document.querySelectorAll(".reactivity-form");
    let container = document.querySelector("#form-container");
    let addButton = document.querySelector("#add-form");
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS");
    let formNum = reactivityForm.length - 1;
    addButton.addEventListener('click', addForm)

    function addForm(e) {
        e.preventDefault();

        let newForm = reactivityForm[0].cloneNode(true);
        let formRegex = RegExp('form-(\\d){1}-', 'g');

        formNum++; // Increment the form number
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`); // Update the new form to have the correct form number
        container.insertBefore(newForm, addButton); // Insert the new form at the end of the list of forms

        totalForms.setAttribute('value', `${formNum + 1}`);

    }

</script>
{% endblock %}
